body {
    background-color: #f3f5f7;
}
header {
    width: 1300px;
    height: 100px;
    margin: 0 auto;
    padding: 30px 0 0 ;
}
.logo {
    width: 195px;
    height: 42px;
    float: left;
}
.logo a {
    display: block;
    width: 195px;
    height: 42px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
nav {
    float: left;
    margin-left: 20px;
}
nav li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 25px;
}
nav li a {
    display: block;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
}
nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search {
    width: 410px;
    height: 40px;
    margin-left: 160px;
    float: left;
}
.search input {
    width: 360px;
    height: 40px;
    border: 1px solid #00a4ff;
    outline: none;
    float: left;
    padding-left: 10px;
}
.search button {
    width: 50px;
    height: 40px;
    outline: none;
    float: left;
    border: 0;
    background: url(../images/fa-search.png) no-repeat;
}
.personal {
    float: right;
    height: 40px;
    line-height: 40px;
}
.personal dt, .personal dd {
    float: left;
}
.personal s {
    text-decoration: none;
    position: relative;
    padding: 0 20px;
}
.personal s::before {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #f00;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 15px;
}
.personal span img {
    margin-right: 5px;
    border-radius: 50%;
    transition: all 0.6s;
}
.personal span img:hover {
    transform: rotate(360deg);
}
/* banner */
.banner {
    height: 420px;
    background-color: #1c036c;
}
.inner {
    height: 420px;
    position: relative;
}
.subnav {
    width: 190px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
    padding-top: 10px;
}
.subnav li {
    padding-left: 20px;
    position: relative;
}
.subnav a {
    display: block;
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
}
.subnav a:hover {
    color: #00b4ff;
}
.subnav span {
    position: absolute;
    right: 20px;
    top: 0;
}
.circle {
    width: 176px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,0);
}
.circle i {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 6px;
    background: rgba(255, 255, 255, .4);
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.circle i:hover {
    transform: scale(1.6,1);
    background-color: #fff;
}
.timebook {
    width: 228px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #fff;
}
.timebook dt {
    text-align: center;
    background-color: #9bceea;
    height: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
}
.timebook dd {
    padding: 15px 20px 0;
}
.timebook dd li {
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding-top: 6px;
}
.timebook dd li:last-child {
    border: 0;
}
.timebook h5 {
    font-size: 16px;
    font-weight: 400;
}
.timebook .all {
    height: 40px;
    border: 1px solid #22b0ff;
    color: #22b0ff;
    text-align: center;
    line-height: 40px;
    display: block;
    font-size: 16px;
}
.all:hover {
    color: #fff;
    background-color: #22b0ff;
}
.recommend {
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}
.rec-l {
    padding-left: 30px;
}
.rec-l strong {
    color: #22b0ff;
    font-size: 14px;
    margin-right: 15px;
}
.rec-l a {
    margin: 0 15px;
    font-size: 14px;
}
.recommend em {
    position: absolute;
    right: 20px;
    top: 0;
}
.products {
    margin-top: 30px;
}
.pro-hd {
    height: 40px;
    position: relative;
}
.pro-hd h4 {
    font-weight: normal;
    font-size: 18px;
}
.pro-hd a {
    position: absolute;
    top: 0;
    right: 20px;
}
.pro-bd li {
    width: 228px;
    height: 270px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.4s;
}
.pro-bd li:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}
.pro-bd li img {
    transition: all 0.4s;
}
.pro-bd li img:hover {
    margin-left: -5px
}
.pro-bd li:nth-child(5n) {
    margin-right: 0;
}
.pro-title {
    width: 185px;
    margin: 20px auto;
    font-size: 14px;
    color: #050505;
}
.pro-bd li p {
    width: 185px;
    margin: 20px auto;
    color: #999;
}
.pro-bd p span {
    color: #ff7c2d;
}
footer {
    height: 420px;
    background-color: #fff;
    margin-top: 30px;
    padding-top: 30px;
}
.footer-l {
    margin-left: 20px;
    float: left;
}
.footer-l p {
    margin: 25px 0 15px 0;
    line-height: 24px;
}
.footer-l a {
    width: 120px;
    height: 35px;
    display: block;
    border: 1px solid #22b0ff;
    color: #22b0ff;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
}
.footer-l a:hover {
    color: #fff;
    background-color: #22b0ff;
}
.footer-r {
    float: right;
}
.footer-r dl{
    float: left;
    margin-left: 135px;
}
.footer-r dt {
    font-size: 16px;
    color: #333333;
    height: 30px;
}
.footer-r dd {
    height: 20px;
}